<div class="sponsor">
    <strong>{{ .Get 0 }}</strong>
    <p>{{ .Inner | markdownify }}</p>
    <a href="{{ .Get 1 }}" target="_blank" rel="external">{{ .Get 2 }}</a>
</div>

<!--
<div class="sponsor">
    <strong>Proxyman</strong>
    <p>
        Proxyman, is a native high-performance macOS to intercept your network requests.
        Its modern and intuitive design makes it a really great tool for developers to debug any app.
    </p>
    <a href="https://proxyman.io/" target="_blank" rel="external">Get Proxyman</a>
</div>
-->